@tailwind base;
@tailwind components;
@tailwind utilities;

/* light theme */
.light {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  transition: all 0.3s ease;
}

/* dark theme */
.dark {
  background-color: #1a202c; /* Dark background */
  color: #ffffff; /* White text */
  transition: all 0.3s ease;
}
